* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(88, 91, 93);
}
.container {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
}
.App-header {
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
    border-bottom: 1.5px solid rgb(209, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hedname {
    margin-left: 4%;
    font-size: calc(1.3rem + .7vw);
}
.hedname > i {
    font-size: calc(1rem + .7vw);
    margin-right: 0.5vw;
}
.save-button {
    width: auto;
    font-size: calc(.3rem + .6vw);
    padding: 0.6em 0.7em;
    border-radius: 1px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 3%;
    background-color: rgba(18, 18, 237, .9);

}
.leftpart {

    width: 15%;
    margin-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftpart > i:hover {
    color: aqua;
    cursor: pointer;
}
.section2 {
    width: 100%;
    height: auto;
    display: flex;
}
.child {
    width: 50%;
    /* min-height: 340px; */
    height: 50vh;
    border: 1px solid rgb(209, 206, 206);
    background-color: rgba(253, 249, 245,.5);
}
.first-row {
    padding: 1% 3% 1% 1%;
    margin-left: 2%;
    height: 15%;
    /* border: 2px solid green; */
}
.addcaprionbox {
    font-size: calc(40% + 1vw);
    color: blue;
    cursor: pointer;

}
.rigfhtbar {
    float: right;
    position: relative;
    padding: 1px 5px;
    cursor: pointer;

}
.rigfhtbar > i {
    float: right;
    font-size: 100%;

}
.sprade {
    position: absolute;
    z-index: 999;
    left: -5px;
    top: 20px;
    border-radius: 1px;
    box-shadow: 0 0 3px rgba(110, 108, 108,.3);
    text-align: left;

    background-color: white;
}
.sprade > ul {
    list-style: none;
    padding: 5% 0;
    width: calc(70px + 7vw);
    margin: 0;
    font-size: calc(40% + .7vw);
}
.sprade > ul > li {
    padding: 3% 10%;
    -webkit-user-select: none;
}
.sprade > ul > li:hover {
    background-color: rgba(211, 207, 207,.9);
    cursor: pointer;
}

/*! caption css start */
.caption-container {
    /* border: 1px solid rgb(156, 158, 158); */
    padding: 0.1% 3% 1.3% 1%;
    /* height: calc(40vh + 4%); */
    height: 85%;
    /* min-height: 243px; */
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}
.caption-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
.caption-container::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: aliceblue;
}
.caption-container::-webkit-scrollbar-thumb {
    background-color: rgb(178, 196, 192);
    border-radius: 1px;
    cursor: pointer;
}

.caption-Row {
    /* border: 2px solid red; */

    padding: 5px 4px 5px 3%;
}
.caption-text-area {
    resize: none;
    width: calc(34vw - 80px);
    border-radius: 4px;
    border: 1.3px solid rgba(27, 27, 27,.3);
    outline: none;
    font-size: 1vw;
    font-family: inter;
    padding: 5px;

}
.caption-text-area:focus-within {
    border: 2px solid rgba(67, 76, 251, 0.3);
}

.start-time {
    height: 4vh;
    width: 5.6vw;
    border-radius: 4px;
    border: 1.3px solid rgba(27, 27, 27,.3);
    outline: none;
    font-size: 0.9vw;
    padding: 5px;
}
.fa-trash {
    visibility: hidden;
    cursor: pointer;
}
.caption-Row:focus-within .fa-trash,
.caption-Row:hover .fa-trash {
    visibility: visible;
}
.caption-Row:focus-within,
.caption-Row:hover {
    background-color: rgb(227, 230, 233);
}
.video-container {
    width: 100%;
    height: 90%;
    /* border: 2px solid rgb(34, 208, 127);  */
    padding: 0.2% 2% 2% 1.5%;
    position: relative;
}
.video-container > video {
    /* border: 2px solid red; */
}
.video-caption-displying {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    bottom: 10%;
    z-index: 0;
    text-align: center;
    /* border: 1px solid orange; */
}
.video-caption-displying > p {
    font-size: calc(.5rem + 1vw);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(23, 22, 22,.6);
    padding: 0.5% 1%;
    color: white;
}
